* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.heading-title {
  text-align: center;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.box {
  padding: 10px;
  width: 25%;
  border: 1px solid black;
}
.box2 {
  width: 50%;
}
.box img {
  width: 100%;
  /* width: inherit; */
  /* height: inherit; */
}
.box h2 {
  text-align: center;
}
.quarter {
  width: 25%;
}
.three-quarter {
  width: 75%;
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav-item {
  margin: 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}
.nav-item:nth-child(1) {
  background-color: green;
}
.nav-item:nth-child(2) {
  background-color: silver;
}
.nav-item:nth-child(3) {
  background-color: yellow;
}
.nav-item:nth-child(4) {
  background-color: blueviolet;
}
.nav-item:nth-child(5) {
  background-color: blue;
}
